@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
:root {
	--color-primary: #ff4a44;
	--color-secondary: #ff908c;
	--color-accent: #008218;
	--color-grey: rgb(32, 30, 30);
	--color-lighter-grey: rgb(55, 52, 52);
}

* {
	box-sizing: border-box;
	scrollbar-width: none;
	font-family: 'Nunito', sans-serif;
}

body {
	background-color: black;
}

::-webkit-scrollbar {
	display: none;
}
