@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
:root {
	--color-primary: #ff4a44;
	--color-secondary: #ee312a;
	--color-accent: #00a91f;
	--color-grey: rgb(32, 30, 30);
	--color-lighter-grey: rgb(55, 52, 52);
}

* {
	box-sizing: border-box;
	scrollbar-width: none;
	font-family: 'Nunito', sans-serif;
}

body {
	background-color: black;
}

a {
	text-decoration: none;
}

::-webkit-scrollbar {
	display: none;
}

.break {
	color: var(--color-accent);
}

.work {
	color: var(--color-primary);
}
